{% extends '_base.html.twig' %}

{# ----------------------------------------------------- #}
{% block pageTitle %} Admin page {% endblock %}

{# ----------------------------------------------------- #}
{% block aboutLinkStyle %}current_page{% endblock %}

{# ----------------------------------------------------- #}

{% block main %}
    <body>
    <!-- start header_bottom -->
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom_left">
                <i class="phone"> </i><span>+353-83-2425764</span>
            </div>
            <div class="social">
                <ul>
                    <li class="facebook"><a href="#"><span> </span></a></li>
                    <li class="twitter"><a href="#"><span> </span></a></li>
                    <li class="pinterest"><a href="#"><span> </span></a></li>
                    <li class="google"><a href="#"><span> </span></a></li>
                    <li class="tumblr"><a href="#"><span> </span></a></li>
                    <li class="instagram"><a href="#"><span> </span></a></li>
                    <li class="rss"><a href="#"><span> </span></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="main">
        <div class="about_banner_img"><img src="images/headerimage.jpg" class="img-responsive" height="100" width="100%" alt=""/></div>
        <div class="about_banner_wrap">
            <h1 class="m_11">About Us</h1>
        </div>
        <div class="about-wrapper">
            <div class="container">
                <div class="row about-top">
                    <div class="col-md-5">

                    </div>
                    <div class="col-md-7 about-left-text">
                        <h2>Welcome Admin</h2>
                        <p>Bellow is every student and their  current statistics.</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="container">


            {% for martial in martial %}
                <table style="margin-left: 50%; border: 2px solid #000000;">
                <tr>
                    <td><img src="images/{{ martial.id }}.jpg"></td>
                </tr>
                <tr>
                    <td>Students ID = {{ martial.id }}</td>
                </tr>
                <tr>
                    <td>Student Name = {{ martial.studentName }}</td>
                </tr>
                <tr>
                    <td>Category = {{ martial.category }}</td>
                </tr>
                <tr>
                    <td>Class Taken = {{ martial.className }}</td>
                </tr>
                <tr>
                    <td>Overall Attendance = {{ martial.attendance }}/{{ martial.totalClasses}}</td>
                </tr>
            </table><br><br>
            {% endfor %}

        </div>
        <div class="footer-top">
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row section group">
                    <div class="col-md-4">
                        <div class="f-logo">
                        </div>
                        <p class="m_9">This is Ashbournes best place to train! Come join us today!</p>
                        <p class="address">Phone : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">(353) 83 426 5764</span></p>
                        <p class="address">Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">martial@ashbourne.com</span></p>
                    </div>
                    <div class="col-md-4">
                        <ul class="list">
                            <li class="m_7">Menu</li>

                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                            <li>
                                <a href="#">Classes</a>
                            </li>
                            <li>
                                <a href="#">Trainers</a>
                            </li>
                            <li>
                                <a href="#">Login</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="copy">
                    <p>© 2016 Framework Project</p>
                </div>
                <div class="social">
                    <ul>
                        <li class="facebook"><a href="#"><span> </span></a></li>
                        <li class="twitter"><a href="#"><span> </span></a></li>
                        <li class="pinterest"><a href="#"><span> </span></a></li>
                        <li class="google"><a href="#"><span> </span></a></li>
                        <li class="tumblr"><a href="#"><span> </span></a></li>
                        <li class="instagram"><a href="#"><span> </span></a></li>
                        <li class="rss"><a href="#"><span> </span></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    </body>

{% endblock %}